In [35]:
import pandas as pd
import numpy as np

In [36]:
houses = pd.read_csv('houses_to_rent_v2.csv')

houses.head()

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa (R$),rent amount (R$),property tax (R$),fire insurance (R$),total (R$)
0,São Paulo,70,2,1,1,7,acept,furnished,2065,3300,211,42,5618
1,São Paulo,320,4,4,0,20,acept,not furnished,1200,4960,1750,63,7973
2,Porto Alegre,80,1,1,1,6,acept,not furnished,1000,2800,0,41,3841
3,Porto Alegre,51,2,1,0,2,acept,not furnished,270,1112,22,17,1421
4,São Paulo,25,1,1,0,1,not acept,not furnished,0,800,25,11,836

In [37]:
houses.describe()

,area,rooms,bathroom,parking spaces,hoa (R$),rent amount (R$),property tax (R$),fire insurance (R$),total (R$)
count,10692.000000,10692.000000,10692.000000,10692.000000,1.069200e+04,10692.000000,10692.000000,10692.000000,1.069200e+04
mean,149.217920,2.506079,2.236813,1.609147,1.174022e+03,3896.247194,366.704358,53.300879,5.490487e+03
std,537.016942,1.171266,1.407198,1.589521,1.559231e+04,3408.545518,3107.832321,47.768031,1.648473e+04
min,11.000000,1.000000,1.000000,0.000000,0.000000e+00,450.000000,0.000000,3.000000,4.990000e+02
25%,56.000000,2.000000,1.000000,0.000000,1.700000e+02,1530.000000,38.000000,21.000000,2.061750e+03
50%,90.000000,2.000000,2.000000,1.000000,5.600000e+02,2661.000000,125.000000,36.000000,3.581500e+03
75%,182.000000,3.000000,3.000000,2.000000,1.237500e+03,5000.000000,375.000000,68.000000,6.768000e+03
max,46335.000000,13.000000,10.000000,12.000000,1.117000e+06,45000.000000,313700.000000,677.000000,1.120000e+06

In [38]:
houses['bathroom']. value_counts()

1     4301
2     2910
3     1474
4     1111
5      578
6      215
7       85
8       11
9        4
10       3
Name: bathroom, dtype: int64

In [39]:
## IQR -> Distancia entre quartil (inter quantile range)
q1 = houses['bathroom']. quantile(0.25) ## Primeiro quantil
q3 = houses['bathroom']. quantile(0.75)
IQR = q3 - q1
print (f' IQR:{IQR}')

 IQR:2.0

In [40]:
q3 + (IQR * 1.5)

6.0

In [41]:
houses_outliers = houses[(houses['bathroom']< q1 - (IQR * 1.5)) | (houses['bathroom'] > q3 + (IQR * 1.5))]

In [42]:
houses_outliers

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa (R$),rent amount (R$),property tax (R$),fire insurance (R$),total (R$)
143,Campinas,999,5,7,8,-,acept,not furnished,0,14000,667,211,14880
421,São Paulo,900,4,9,8,1,acept,not furnished,0,15000,5700,226,20930
534,Belo Horizonte,548,4,7,6,17,acept,not furnished,5905,15000,2484,200,23590
640,Belo Horizonte,1000,5,7,8,-,acept,not furnished,0,14980,1904,246,17130
718,São Paulo,500,4,7,3,-,acept,not furnished,0,15000,2500,226,17730
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10256,Belo Horizonte,460,5,8,5,-,not acept,not furnished,0,7320,0,121,7441
10318,São Paulo,353,5,7,5,12,acept,not furnished,4800,10000,1917,127,16840
10380,Campinas,800,4,7,4,-,acept,not furnished,2100,15000,1898,226,19220
10476,Porto Alegre,600,5,7,5,-,acept,not furnished,0,7000,834,125,7959
10613,São Paulo,300,6,7,5,-,not acept,not furnished,0,8000,0,121,8121

In [43]:
houses_inliers = houses[(houses['bathroom']>= q1 - (IQR * 1.5)) & (houses['bathroom'] <= q3 + (IQR * 1.5))]

In [47]:
houses_inliers.describe()

,area,rooms,bathroom,parking spaces,hoa (R$),rent amount (R$),property tax (R$),fire insurance (R$),total (R$)
count,10692.000000,10692.000000,10692.000000,10692.000000,1.069200e+04,10692.000000,10692.000000,10692.000000,1.069200e+04
mean,149.217920,2.506079,2.236813,1.609147,1.174022e+03,3896.247194,366.704358,53.300879,5.490487e+03
std,537.016942,1.171266,1.407198,1.589521,1.559231e+04,3408.545518,3107.832321,47.768031,1.648473e+04
min,11.000000,1.000000,1.000000,0.000000,0.000000e+00,450.000000,0.000000,3.000000,4.990000e+02
25%,56.000000,2.000000,1.000000,0.000000,1.700000e+02,1530.000000,38.000000,21.000000,2.061750e+03
50%,90.000000,2.000000,2.000000,1.000000,5.600000e+02,2661.000000,125.000000,36.000000,3.581500e+03
75%,182.000000,3.000000,3.000000,2.000000,1.237500e+03,5000.000000,375.000000,68.000000,6.768000e+03
max,46335.000000,13.000000,10.000000,12.000000,1.117000e+06,45000.000000,313700.000000,677.000000,1.120000e+06